.jumbotron{
    background-color: darkgoldenrod;
    align-content: center;
    margin-top: 50px;

}
.btn{
color: darkkhaki;
}
footer{
    padding: 20px 30px 20Px;
    background-color: darkgoldenrod;
    margin-bottom: 10px;
    margin-top: 10px;
}

.car-res{
    flex: 1 200px;
    
    margin: 30px;
}

.btn_ordenar{
    width: 100%;
    border-radius: 0%;
}
h1{
    text-align: center;
    margin-top: 30px;
}
.footer-address-icon{
    padding-right: 10px;

}
