$darkgoldenrod: #bd8d1c;
@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton    
}
.jumbotron{
    background-color:$darkgoldenrod;
    align-content: center;
    @include margenes(50,15)

}
.btn{
color: darkkhaki;
}
footer{
    padding: 20px 30px 20Px;
    background-color: $darkgoldenrod;
    @include margenes(10,0 )
}

.car-res{
    flex: 1 200px;
    
    margin: 30px;
}

.btn_ordenar{
    width: 100%;
    border-radius: 0%;
}
h1{
    text-align: center;
    margin-top: 30px;
}
.footer-address-icon{
    padding-right: 10px;

}

