@darkgoldenrod: #bd8d1c;

.margenes(@top, @botton) {
    margin-top: @top;
    margin-bottom: @botton    
}

.jumbotron{
    background-color: @darkgoldenrod;
    align-content: center;
   .margenes(50px, 0px)

}
.btn{
color: darkkhaki;
}
footer{
    padding: 20px 30px 20Px;
    background-color: @darkgoldenrod;
    .margenes(10px, 10px)
}

.car-res{
    flex: 1 200px;
    
    margin: 30px;
}

.btn_ordenar{
    width: 100%;
    border-radius: 0%;
}
h1{
    text-align: center;
    .margenes(30px, 0px)
}
.footer-address-icon{
    padding-right: 10px;

}
